div.counter_card {
  width: 10rem;
  height: 10rem;
  background: #d5defd;
  margin: 1rem;
  padding: 5px;
  border-radius: 1rem;
  display: flex;
  color: blue;
  font-size: 3rem;
  font-weight: 300;
  cursor: pointer;
}
.counterBoard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
span.counterType {
  font-size: 1.7rem;
  font-weight: 600;
  position: absolute;
  display: block;
  padding: 4px 0px 0px 5px;
}
span.counterCount {
  font-family: "Rubik:wght@300";
  margin: 3rem 3.5rem;
  font-size: 5rem;
}
div.counter_card.selected {
  background-color: #3b79fa;
  color: white;
}
